.Layout-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
    height: 100vh;
    position: relative;
  }
  
  .Layout-title {
    color: #333;
    margin-top: 20px;
  }
  
  .Layout-hr {
    width: 100%;
    border: 1px solid #ddd;
    margin: 10px 0;
  }
  
  .image-with-countries {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
  }
  
  .center-image {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .countries-container {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  
  .country-item {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .country-item-1 { /* גאנה */
    top: -400px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .country-item-2 { /* ונצואלה */
    top: 40px;
    right: 20%;
  }
  
  .country-item-3 { /* פרו */
    bottom: 100%;
    right: -100px;
  }
  
  .country-item-4 { /* קולומביה */
    bottom: 180%;
    right: -180px;
  }
  
  .country-item-5 { /* ארובה */
    top: -40px;
    left: -55%;
  }
  
  .country-item-6 { /* מיאמי */
    bottom: 180%;
    left: -120px;
  }
  
  .country-item-7 { /* הודו */
    bottom: -200px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .country-flag {
    transform: scale(3.5);
    margin-bottom: 15px;
  }
  
  .country-info {
    font-size: 22px;
  }